<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

    <script src="/js/lib/jquery-3.7.1.js"></script>
    <script src="/js/lib/aui-prototyping.js"></script>

    <link href='/css/user-edit.css' rel="stylesheet" type="text/css">
    <link href='/css/lib/aui-prototyping.css' rel="stylesheet" type="text/css">

    <title>Мимимиметр</title>
</head>
<body>
<div class="page-content" th:object="${user}"> <!--/*@thymesVar id="user" type="org.test.kitties.model.UserModel"*/-->
    <div class="title">
        <h2>Редактирование пользователя</h2>
        <form id="user-edit-form" class="aui" th:action="'/user/' + ${user.getId()}" method="post">
            <div class="field-group">
                <label for="user-name">Имя пользователя <span class="aui-icon icon-required">required</span></label>
                <input class="text" type="text" id="user-name" name="name" data-aui-validation-field data-aui-validation-required="required" th:value="${user.getName()}">
            </div>
            <div class="field-group">
                <label for="user-login">Логин <span class="aui-icon icon-required">required</span></label>
                <input class="text" type="text" id="user-login" disabled="disabled" name="login" data-aui-validation-field data-aui-validation-required="required" th:value="${user.getLogin()}">
            </div>
            <div class="field-group">
                <label for="user-password">Пароль</label>
                <input class="password" type="password" id="user-password" placeholder="Новый пароль" name="password">
                <div class="description">Оставьте пустым, чтобы не менять</div>
            </div>
            <div class="field-group">
                <label>Создан</label>
                <div id="user-created" th:text="${dateFormatter.format(user.getCreated())}" th:object="${dateFormatter}"></div> <!--/*@thymesVar id="dateFormatter" type="java.text.SimpleDateFormat"*/-->
            </div>
            <div class="field-group" th:object="${roles}">  <!--/*@thymesVar id="roles" type="java.util.List<org.test.kitties.model.RoleModel>"*/-->
                <label for="user-role">Роль</label>  <!--/*@thymesVar id="isUserAdmin" type="java.lang.Boolean"*/-->
                <select id="user-role" name="roleId" class="select" th:attrappend="disabled=!${isUserAdmin}?disabled">
                    <option
                        th:each="role: ${roles}" th:value="${role.getId()}" th:text="${role.getName()}"
                        th:attrappend="selected=${role.getId().equals(user.getRole().getId())} ? 'selected'">
                    </option>
                </select>
            </div>

            <input type="hidden" th:if="!${isUserAdmin}" th:value="${user.getRole.getId()}" name="roleId"/> <!--/*@thymesVar id="isUserAdmin" type="java.lang.Boolean"*/-->

            <input type="hidden" th:value="${user.getId()}" id="user-id" name="userId"/>

            <div class="buttons-container" th:switch="${isUserAdmin}">  <!--/*@thymesVar id="isUserAdmin" type="java.lang.Boolean"*/-->
                <input class="button submit" type="submit" value="Сохранить" id="save-button">
                <a th:case="true"  class="cancel-link" href="/user">Отмена</a>
                <a th:case="false" class="cancel-link" href="/">Отмена</a>
            </div>
        </form>
    </div>
    <!--/*@thymesVar id="showMessage" type="java.lang.Boolean"*/-->
    <!--/*@thymesVar id="error" type="java.lang.String"*/-->
    <div class="error-message aui-banner aui-banner-error" th:if="${error}" th:text="${error}"></div>
</div>
</body>
</html>