<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

    <script src="/js/lib/jquery-3.7.1.js"></script>
    <script src="/js/user-list.js"></script>

    <link href='/css/user.css' rel="stylesheet">

    <title>Мимимиметр</title>
</head>
<body>
<div class="page-content" th:object="${users}"> <!--/*@thymesVar id="users" type="java.util.List<org.test.kitties.model.UserModel>"*/-->
    <div class="header" th:object="${loggedInUser}">  <!--/*@thymesVar id="loggedInUser" type="org.test.kitties.model.UserModel"*/-->
        <div class="go-vote">
            <a href="/" title="Голосовать за котиков">Перейти в голосовалку</a>
        </div>
        <div class="title">
            <h2>Список пользователей</h2>
        </div>
        <div class="user-info">
            <a th:href="@{'/user/' + ${loggedInUser.getId()}}" th:text="${loggedInUser.getName()}" title="Изменить"></a> | <a href="/logout" title="Разлогиниться">Выйти</a>
        </div>
    </div>
    <div class="user-list" th:object="${logoGenerator}"> <!--/*@thymesVar id="logoGenerator" type="org.test.kitties.util.UserLogoGenerator"*/-->
        <div class="user header">
            <div class="user-property user-logo"></div>
            <div class="user-property user-id"></div>
            <div class="user-property user-name">Имя пользователя</div>
            <div class="user-property user-login">Логин</div>
            <div class="user-property user-created">Создан</div>  <!--/*@thymesVar id="dateFormatter" type="java.text.SimpleDateFormat"*/-->
            <div class="user-property user-role">Роль</div>
            <div class="user-property user-actions">Действия</div>
        </div>
        <div class="user item" th:attr="data-user-id=${user.getId()}" th:each="user: ${users}">
            <div class="user-property user-logo" th:with="logoMatrix=${logoGenerator.generate(user, 100, 20)}">
                <svg width="100" height="100" class="user-logo-img">
                    <rect
                        th:each="point: ${logoGenerator.toFlatList(logoMatrix)}"
                        th:attr="x=${point.getX()}, y=${point.getY()}, width=${point.getSize()}, height=${point.getSize()}"
                        th:style="${point.isRender()} ? 'fill:rgb(194,150,73)' : 'fill:rgb(255,255,255)'"
                    />
                </svg>
            </div>

            <div class="user-property user-id"      th:text="${user.getId()}"></div>
            <div class="user-property user-name"    th:text="${user.getName()}"></div>
            <div class="user-property user-login"   th:text="${user.getLogin()}"></div>
            <div class="user-property user-created" th:text="${dateFormatter.format(user.getCreated())}" th:object="${dateFormatter}"></div>  <!--/*@thymesVar id="dateFormatter" type="java.text.SimpleDateFormat"*/-->
            <div class="user-property user-role"    th:text="${user.getRole().getName()}"></div>
            <div class="user-property user-actions">
                <a th:href="@{'/user/' + ${user.getId()}}">Изменить</a>
                <span th:if="!${user.getLogin().equals(loggedInUser.getLogin())}"> |  <!--/*@thymesVar id="loggedInUser" type="org.test.kitties.model.UserModel"*/-->
                    <a id="delete-link" th:attr="data-user-id=${user.getId()}, data-user-name=${user.getName()}" href="delete">Удалить</a>
                </span>
            </div>
        </div>
    </div>
    <!--/*@thymesVar id="showMessage" type="java.lang.Boolean"*/-->
    <!--/*@thymesVar id="message" type="java.lang.String"*/-->
    <div class="message" th:if="${showMessage}" th:text="${message}"></div>
</div>
</body>