<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

    <script src="/js/lib/jquery-3.7.1.js"></script>
    <script src="/js/lib/aui-prototyping.js"></script>

    <link href='/css/login.css' rel="stylesheet" type="text/css">
    <link href='/css/lib/aui-prototyping.css' rel="stylesheet" type="text/css">

    <title>Мимимиметр</title>
</head>
<body>
<div id="page">
<div id="content" class="page-content">
    <div class="title">
        <h2>Добро пожаловать</h2>
        <h3>Выберете действие: Войти или Зарегистрироваться</h3>

        <!--/*@thymesVar id="authMessage" type="org.test.kitties.controller.AuthController.AuthMessage"*/-->
        <div class="message-holder" th:if="${authMessage.showMessage()}">
            <div class="error-message aui-banner aui-banner-error" th:if="${authMessage.hasError()}" th:text="${authMessage.getError()}"></div>
            <div class="logout-message aui-banner aui-banner-announcement" th:if="${authMessage.isLogout()}">Вы вышли из приложения</div>
        </div>
    </div>

    <div class="columns-container">
        <div class="aui-group two-columns">
            <div class="aui-item">
                <form id="user-sign-in-form" class="aui" action="/signin" method="post">
                    <div class="field-group">
                        <label for="user-sign-in-login">Логин <span class="aui-icon icon-required">required</span></label>
                        <input class="text" type="text" id="user-sign-in-login" name="login" data-aui-validation-field data-aui-validation-required="required" th:value="${loginSignIn}">  <!--/*@thymesVar id="loginSignIn" type="java.lang.String"*/-->
                    </div>
                    <div class="field-group">
                        <label for="user-sign-in-password">Пароль <span class="aui-icon icon-required">required</span></label>
                        <input class="password" type="password" id="user-sign-in-password" data-aui-validation-field data-aui-validation-required="required" name="password">
                    </div>

                    <div class="buttons-container">
                        <input class="button submit" type="submit" value="Войти" id="sign-in-button"/>
                    </div>
                </form>
            </div>
            <div class="aui-item item-separator">
                <div class="vertical-bar"></div>
            </div>
            <div class="aui-item">
                <form id="user-sign-up-form" class="aui" action="/signup" method="post">
                    <div class="field-group" th:object="${nameSignUp}">  <!--/*@thymesVar id="nameSignUp" type="java.lang.String"*/-->
                        <label for="user-signup-name">Имя пользователя <span class="aui-icon icon-required">required</span></label>
                        <input class="text" type="text" id="user-signup-name" name="name" data-aui-validation-field data-aui-validation-required="required" th:value="${nameSignUp}">
                    </div>
                    <div class="field-group" th:object="${loginSignUp}">  <!--/*@thymesVar id="loginSignUp" type="java.lang.String"*/-->
                        <label for="user-signup-login">Логин <span class="aui-icon icon-required">required</span></label>
                        <input class="text" type="text" id="user-signup-login" name="login" data-aui-validation-field data-aui-validation-required="required" th:value="${loginSignUp}">
                    </div>
                    <div class="field-group">
                        <label for="user-signup-password">Пароль <span class="aui-icon icon-required">required</span></label>
                        <input class="password" type="password" id="user-signup-password" name="password" data-aui-validation-field data-aui-validation-required="required">
                    </div>

                    <div class="buttons-container">
                        <input class="button submit" type="submit" value="Зарегистрироваться" id="signup-button"/>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
</div>
</body>
</html>