.page-content {
    text-align: center;
    font-family: cursive;
}

.users-list {
    text-align: right;
    position: relative;
    display: inline-block;
    bottom: 65px;
    left: -50px;
}

.user-info {
    text-align: left;
    position: relative;
    display: inline-block;
    bottom: 65px;
    right: -50px;
}

.title {
    display: inline-block;
}

.kitty-list {
    display: inline-block;
}

.kitty-top {
    display: table-row;
}

.kitty-top-index {
    font-size: 20px;
    text-align: right;
}

.kitty-top-img {
    width: 100px;
    height: 100px;
    padding: 10px 35px 10px 35px;
}

.kitty-top-name {
    text-align: left;
}

.kitty-top-index,
.kitty-top-img,
.kitty-top-name {
    display: table-cell;
    vertical-align: middle;
    width: 100px;
}