.page-content {
    font-family: cursive;
}

.title {
    text-align: center;
}

.title h3 {
    margin-top: 20px;
}

.message-holder {
    margin-top: 15px;
    width: 350px;
    display: inline-block;
}

.columns-container {
    text-align: center;
    margin-top: 20px;
}

.aui-group.two-columns {
    width: 780px;
    margin-left: -20px;
    display: inline-block;
}

.aui-group.two-columns>.aui-item {
    vertical-align: middle;
}

.item-separator {
    padding-left: 30px !important;
    padding-right: 5px !important;
}

.vertical-bar {
    background-color: #dfe1e6;
    width: 2px;
    height: 180px;
}