body {
    text-align: center;
    background-color: #ffffff !important;
}

.page-content {
    display: inline-block;
    font-family: cursive;
}

.title {
    margin-top: 20px;
}

.user-id {
    display: none;
}

#user-created {
    top: 8px;
    position: absolute;
}

.buttons-container a.cancel-link {
    color: steelblue;
}

.error-message {
    margin-top: 20px !important;
}