.page-content {
    text-align: center;
    font-family: cursive;
}

.message {
    margin-top: 15px;
    width: 350px;
    display: block;
    background-color: #42526e;
    color: #ffffff;
    padding: 10px;
    position: relative;
    line-height: 1.43;
}

.go-vote {
    text-align: right;
    position: relative;
    display: inline-block;
    bottom: 30px;
    left: -60px;
}

.user-info {
    text-align: left;
    position: relative;
    display: inline-block;
    bottom: 30px;
    right: -60px;
}

.title {
    display: inline-block;
}

.user-list {
    display: inline-block;
}

.user {
    display: table-row;
}

.user:nth-of-type(odd) {
    background-color: #f8f8f8;
}

.user.item {
    cursor: pointer;
}

.user.item:hover {
    background-color: #dbdbdb;
}

.user.header {
    font-weight: bold;
}

.user-logo-img {
    padding: 5px;
    border: 1px solid rgb(194,150,73);
    background: wheat;
}

.user-property.user-id {
    display: none;
}

.user-name,
.user-login,
.user-created,
.user-role {
    text-align: left;
}

.user-property {
    display: table-cell;
    vertical-align: middle;
    padding: 10px 17px 5px 17px;
}

.user-actions a {
    text-align: left;
    color: steelblue;
}