<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <link href='/css/completed.css' rel="stylesheet">
    <title>Мимимиметр</title>
</head>
<body>
<div class="page-content" th:object="${listTopKitties}"> <!--/*@thymesVar id="listTopKitties" type="java.util.List<org.test.kitties.model.KittyModel>"*/-->
    <div class="header" th:object="${loggedInUser}">  <!--/*@thymesVar id="loggedInUser" type="org.test.kitties.model.UserModel"*/-->
        <div class="users-list" th:if="${loggedInUser.isAdmin()}">
            <a href="/user" title="Показать список пользователей">Управление пользователями</a>
        </div>
        <div class="title">
            <h2>Мимимиметр</h2>
            <div class="subtitle">
                <h4>Топ 10!</h4>
            </div>
        </div>
        <div class="user-info">
            <a th:href="@{'/user/' + ${loggedInUser.getId()}}" th:text="${loggedInUser.getName()}" title="Изменить"></a> | <a href="/logout" title="Разлогиниться">Выйти</a>
        </div>
    </div>
    <div class="kitty-list">
        <div class="kitty-top" th:each="kitty, status: ${listTopKitties}">
            <div class="kitty-top-index" th:text="${status.index} + 1"></div>
            <div class="kitty-top-img">
                <img th:alt="${kitty.getName()}" th:src="@{${kitty.getImgUrl()}}" width="100" height="100"/>
            </div>
            <div class="kitty-top-name" th:text="${kitty.getName()}"></div>
        </div>
    </div>
</div>
</body>
</html>