<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <link href='/css/vote.css' rel="stylesheet">
    <title>Мимимиметр</title>
</head>
<body>
<div class="page-content" th:object="${nextPair}">  <!--/*@thymesVar id="nextPair" type="org.test.kitties.util.KittyPair"*/-->
    <div class="header" th:object="${loggedInUser}">  <!--/*@thymesVar id="loggedInUser" type="org.test.kitties.model.UserModel"*/-->
        <div class="users-list" th:if="${loggedInUser.isAdmin()}">
            <a href="/user" title="Показать список пользователей">Управление пользователями</a>
        </div>
        <div class="title">
            <h2>Мимимиметр</h2>
            <div class="subtitle">
                <h4>Кто из них мимимишнее? Кликни по фотографии!</h4>
            </div>
        </div>
        <div class="user-info">
            <a th:href="@{'/user/' + ${loggedInUser.getId()}}" th:text="${loggedInUser.getName()}" title="Изменить"></a> | <a href="/logout" title="Разлогиниться">Выйти</a>
        </div>
    </div>
    <div class="voting-pair" th:with="kitty1 = ${nextPair.getKitty1()},kitty2 = ${nextPair.getKitty2()}">
        <div class="kitty" th:with="urlVote=('/vote?for=' + ${kitty1.getId()} + '&against=' + ${kitty2.getId()})">
            <div class="kitty-img">
                <a th:href="@{${urlVote}}">
                    <img th:alt="${kitty1.getName()}" th:src="@{${kitty1.getImgUrl()}}" width="300" height="300"/>
                </a>
            </div>
            <div class="kitty-name">
                <a th:href="@{${urlVote}}" th:text="${kitty1.getName()}"></a>
            </div>
        </div>

        <div class="kitty" th:with="urlVote=('/vote?for=' + ${kitty2.getId()} + '&against=' + ${kitty1.getId()})">
            <div class="kitty-img">
                <a th:href="@{${urlVote}}">
                    <img th:alt="${kitty2.getName()}" th:src="@{${kitty2.getImgUrl()}}" width="300" height="300"/>
                </a>
            </div>
            <div class="kitty-name">
                <a th:href="@{${urlVote}}" th:text="${kitty2.getName()}"></a>
            </div>
        </div>
    </div>
    <div class="progress-bar" th:object="${progress}">  <!--/*@thymesVar id="progress" type="org.test.kitties.util.Progress"*/-->
        <div class="progress-text" th:text="${progress.toString()}"></div>
        <div class="progress" th:style="('width: ' + ${progress.getPercent()} + '%;')"></div>
    </div>
</div>
</body>
</html>